# x-archived-from: assignar-openapi.yaml
# x-archived-on: 2026-09-26
openapi: 3.0.0
servers:
  - description: Australia/New Zealand
    url: 'https://api.assignar.com.au/v2'
  - description: North America/Europe
    url: 'https://api.assignar.com/v2'
security:
  - OAuth2:
    - 'target-entity:b816a5d3-40c3-477f-a551-1d066d7211cc:api_access'
info:
  title: Assignar Public API
  version: Version 2
  description: "The Assignar Public API provides the ability for customers to extend the capability of the Assignar platform.\n\n
  ## Authentication\nFor access to Assignar Public V2, ensure all requests carry a bearer token in the authorization header. Obtain this token by authenticating through the Authentication API.\n\n
  Currently, there are two ways of performing an authentication:\n\n
  ### Client Credential Authentication\n\n
  Login API URL with HTTP Method __POST__\n
  ```\nhttps://login.assignar.com/oauth2/token\n```\n\n#### Request Header\n```\nContent-Type: application/x-www-form-urlencoded\nAuthorization: \"Basic YOUR_CLIENT_ID:YOUR_CLIENT_SECRET\"\n```\n
  __Note:__ \n
  - The __CLIENT_ID:CLIENT_SECRET__ is base64 encoded.\n
  - Your __Client ID__ and __Client Secret__ are located in the Assignar dashboard in the Settings - API Access menu. Please contact support, if you are unable to access.\n
  - If you havent configured your __Client ID__ and __Client Secret__ yet, you can set them up in the same access menu.\n\n\n
  #### Scope\n```\ntarget-entity:b816a5d3-40c3-477f-a551-1d066d7211cc:api_access\n```\n
  __Note:__ \n
  - Copy and use the scope value exactly as listed above when requesting an access token via the authentication api.\n\n
  #### Form URL Encoded Variables\n\n```\ngrant_type=client_credentials \nscope=target-entity:b816a5d3-40c3-477f-a551-1d066d7211cc:api_access\n```\n
  __Note:__ \n
  - Use the __client_credentials__ grant to obtain an __access_token__. The __scope__ will undergo validation against granted permissions. Successful validation of all requested permissions will result in a successful grant and the issuance of an __access_token__. \n
  - The __access_token__ will expire in 1 hour. \n\n
  #### Request Example\n
  ```\n
  POST /oauth2/token HTTP/1.1 \n
  Host: login.assignar.com \n
  Authorization: Basic <base64_encoded_client_id_and_secret> \n
  Content-Type: application/x-www-form-urlencoded \n\n
  grant_type=client_credentials&scope=target-entity%3Ab816a5d3-40c3-477f-a551-1d066d7211cc%3Aapi_access \n
  ```\n\n
  ## Request Headers\n
  The following HTTP headers should be included in all requests to the API.\n
  ```\nContent-Type: application/json\nAuthorization: Bearer <access_token>\n```\nThe access_token is a json web token (JWT) and can be obtained using the Authentication API.\n\n
  ## Pagination\nThe API supports pagination using __page__ and __page_size__ parameters in the querystring. The following request will skip the first 100 records and return the second 100 records.\n
  ```\n.../resource?page=2&page_size=100\n```\n
  If using pagination, you should also include a sort in the request to ensure consistent ordering of the results.\n\n\n
  ## Sorting\nTo sort the results according to a specific field, use __sort__ parameter in the querystring. \n\n
  - Any field in the top-level resource can be used for sorting. \n
  - Separate multiple fields with a comma (,).\n
  - Sort order is __ascending__ by default. \n
  - To sort in __descending__ order, prefix the field name with a hyphen (-). \n\n
  The following request will sort the results by active in descending order then by company_name in ascending order.\n
  ```\n .../resource?sort=-active,company_name\n ``` \n \n
  ## Selecting Fields\n To include only specific fields, use __fields__ parameter in the querystring.\n
  - Any field in the top-level resource can be used for selection.\n
  - Separate multiple fields with a comma (,).\n
  ```\n .../resource?fields=id,company_name\n ```\n \n
  ## Filtering\n
  To filter results based on a fields value, include the field with filter value in the querystring.\n
  - Any field in the top-level resource can be used for filtering.\n
  - Separate multiple filter fields with an ampersand (&)\n The following request will filter the results to include only active resources with a company_name as Assignar.\n \n
  ```\n .../resource?active=true&company_name=Assignar\n ```\n \n
  ## Advanced Filtering\n
  <details>\n
  <summary>Click to view advanced filtering operators</summary>\n \n
  For advanced filtering the following operators can be used:\n \n
  | Operator | Description | Category | Example |\n
  |----------|-------------|----------|----------|\n
  | `gt` | Greater than | Comparison | `age__gt=25` |\n
  | `gte` | Greater than or equal to | Comparison | `salary__gte=50000` |\n
  | `lt` | Less than | Comparison | `price__lt=100` |\n
  | `lte` | Less than or equal to | Comparison | `score__lte=80` |\n
  | `ne` | Not equal to | Equality | `status__ne=inactive` |\n
  | `is` | Is equal to | Equality | `active__is=true` |\n
  | `not` | Is not equal to | Equality | `category__not=archived` |\n
  | `in` | Is in the list | List | `role__in=admin,manager,user` |\n
  | `not_in` | Is not in the list | List | `department__not_in=hr,legal` |\n
  | `substring` | Contains the value | String | `name__substring=john` |\n
  | `starts_with` | Starts with the value | String | `email__starts_with=admin` |\n
  | `ends_with` | Ends with the value | String | `domain__ends_with=.com` |\n
  | `between` | Between the values | Range | `date__between=2023-01-01,2023-12-31` |\n
  | `not_between` | Not between the values | Range | `age__not_between=18,65` |\n
  | `col` | Equals the value of another field | Field Comparison | `start_date__col=end_date` |\n
  | `ne_col` | Does not equal the value of another field | Field Comparison | `created_by__ne_col=modified_by` |\n
  | `gt_col` | Greater than the value of another field | Field Comparison | `end_date__gt_col=start_date` |\n
  | `lt_col` | Less than the value of another field | Field Comparison | `min_price__lt_col=max_price` |\n
  | `gte_col` | Greater than or equal to the value of another field | Field Comparison | `budget__gte_col=spent_amount` |\n
  | `lte_col` | Less than or equal to the value of another field | Field Comparison | `used_storage__lte_col=total_storage` |\n \n
  </details>\n \n"
paths:
  /activities:
    get:
      summary: List all existing activities
      tags:
        - Activities
        - Activities
      operationId: getActivities
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Activities'
    post:
      summary: Create a new activity
      tags:
        - Activities
      operationId: newActivity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/Activity'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 1131
                      name: Travel
                      rule: 1
                      billable: 1
                      active: true
                      sortorder: 0
                      modified_by: 40
                      date_added: '2026-08-25T02:14:07.000Z'
                      date_modified: '2026-08-25T02:14:07.000Z'
  '/activities/{activityId}':
    get:
      summary: Retrieve an existing activity
      tags:
        - Activities
        - Activities
      operationId: getActivity
      parameters:
        - in: path
          name: activityId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Activity'
    put:
      summary: Update an existing activity
      tags:
        - Activities
      operationId: updateActivity
      parameters:
        - in: path
          name: activityId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        '204':
          description: Success
    delete:
      summary: Delete an existing activity
      tags:
        - Activities
      operationId: deleteActivity
      parameters:
        - in: path
          name: activityId
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Success
  '/allocations':
    get:
      summary: List all allocations
      tags:
        - Allocations
        - Allocations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Allocations'
  '/allocations/{allocationId}':
    get:
      summary: Allocation by ID
      tags:
        - Allocations
        - Allocations
      operationId: 1de7d87a-ee23-4147-935c-3204ebcf64a9
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Allocation'
      parameters:
        - name: allocationId
          schema:
            type: string
            minimum: 1
            default: ''
          required: true
          in: path

  '/users/{userId}/allocations':
    get:
      summary: User Allocations
      tags:
        - Allocations
        - Allocations
      operationId: 7bce061a-68d2-4346-9df1-34cf668b066d
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Allocations'
      security:
        - oauth_2_auth: []
      parameters:
        - name: userId
          schema:
            type: string
            default: ''
          required: true
          in: path
        - name: allocationId
          schema:
            type: string
            minimum: 1
            default: ''
          required: true
          in: path
  /allowances:
    get:
      summary: List all allowances
      tags:
        - Allowances
        - Allowances
      operationId: getAllowances
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        active:
                          type: boolean
  '/allowances/{allowanceId}':
    get:
      summary: Get allowance by ID
      tags:
        - Allowances
        - Allowances
      operationId: getAllowance
      parameters:
        - name: allowanceId
          required: true
          in: path
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      active:
                        type: boolean
      security:
        - oauth_2_auth: []
  '/asset-attachments':
    get:
      summary: Get all asset attachments
      tags:
        - Asset Attachments
        - Asset Attachments
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssetAttachment'
    post:
      summary: Create a new asset attachment
      tags:
        - Asset Attachments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateAssetAttachmentRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/AssetAttachment'
  '/asset-attachments/{attachmentId}':
    get:
      summary: Retrieve asset attachment
      tags:
        - Asset Attachments
        - Asset Attachments
      parameters:
        - in: path
          name: attachmentId
          required: true
          schema:
            type: string
          description: The ID of the asset attachment
      responses:
        '200':
          description: Asset attachment retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/AssetAttachment'
        '404':
          description: Asset attachment not found
    put:
      summary: Update asset attachment
      tags:
        - Asset Attachments
      parameters:
        - in: path
          name: attachmentId
          required: true
          schema:
            type: integer
          description: The ID of the asset attachment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateAssetAttachmentRequest'
      responses:
        '200':
          description: Asset attachment updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status

        '400':
          description: Could not process payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Response message
        '404':
          description: Asset attachment not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorType:
                    type: string
                    description: The type of the error returned in the response
                  errorMessage:
                    type: string
                    description: "[404] Object Not Found - AssetAttachment (id)"
                  trace:
                    type: array
                    description: Trace of the error
                    items: {}
  /asset-classes:
    get:
      summary: List all existing asset classes
      description: >-
        Asset classes are the lookup that an asset's `asset_class_id`
        points at.
      tags:
        - Asset Classes
      operationId: getAssetClasses
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/AssetClasses'
                  count:
                    type: integer
              examples:
                Success:
                  value:
                    status: 200
                    data:
                      - id: 5
                        name: Heavy Machinery
                        description: Large construction equipment
                        code: HEAVY-MACH
                        created_at: '2024-03-11T02:41:18.000Z'
                        created_by_id: 500
                        modified_at: '2024-06-02T22:07:55.000Z'
                        modified_by_id: 500
                        createdBy:
                          user_id: 500
                          username: jsmith
                          first_name: John
                          last_name: Smith
                        modifiedBy:
                          user_id: 500
                          username: jsmith
                          first_name: John
                          last_name: Smith
                    count: 1
      security:
        - Assignar Tenant Auth: []
    post:
      summary: Create a new asset class
      tags:
        - Asset Classes
      operationId: createAssetClass
      requestBody:
        $ref: '#/components/requestBodies/CreateUpdateAssetClassRequest'
      security:
        - Assignar Tenant Auth: []
      responses:
        '200':
          description: >-
            Created. The created record is returned in `data`, and the body's
            `status` field carries 201. **The fields present depend on the
            payload supplied** — every field you sent, plus the generated `id`
            and the `created_at` default. A field you did not send is absent
            rather than null.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/AssetClass'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 5
                      name: Heavy Machinery
                      description: Large construction equipment
                      code: HEAVY-MACH
                      created_at: '2024-03-11T02:41:18.000Z'
  '/asset-classes/{assetClassId}':
    get:
      summary: Retrieve an existing asset class
      tags:
        - Asset Classes
      operationId: getAssetClassById
      parameters:
        - in: path
          name: assetClassId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/AssetClassDetail'
              examples:
                Success:
                  value:
                    status: 200
                    data:
                      id: 5
                      name: Heavy Machinery
                      description: Large construction equipment
                      code: HEAVY-MACH
                      created_at: '2024-03-11T02:41:18.000Z'
                      created_by_id: 500
                      modified_at: '2024-06-02T22:07:55.000Z'
                      modified_by_id: 500
                      createdBy:
                        user_id: 500
                        username: jsmith
                        first_name: John
                        last_name: Smith
                      modifiedBy:
                        user_id: 500
                        username: jsmith
                        first_name: John
                        last_name: Smith
        '404':
          description: Asset class not found
      security:
        - Assignar Tenant Auth: []
    put:
      summary: Update an existing asset class
      description: Only the fields present in the payload are written.
      tags:
        - Asset Classes
      operationId: updateAssetClass
      parameters:
        - in: path
          name: assetClassId
          required: true
          schema:
            type: integer
      security:
        - Assignar Tenant Auth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateUpdateAssetClassRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
              examples:
                Success:
                  value:
                    status: 204
        '404':
          description: Asset class not found
    delete:
      summary: Delete an existing asset class
      description: >-
        Permanently deletes the asset class — there is no soft delete and no
        `deleted_at` column, so the record cannot be recovered. Assets that
        referenced it are **not** deleted: the `asset_class_id` foreign key is
        `ON DELETE SET NULL`, so each affected asset has its `asset_class_id`
        set to null and its `assetClass` cleared.
      tags:
        - Asset Classes
      operationId: deleteAssetClass
      parameters:
        - in: path
          name: assetClassId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
              examples:
                Success:
                  value:
                    status: 204
        '404':
          description: Asset class not found
      security:
        - Assignar Tenant Auth: []
  /assets:
    get:
      summary: List all existing assets
      tags:
        - Assets
        - Assets
      operationId: getAssetList
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssetWithTagPart'
                  count:
                    type: integer
              examples:
                example-1:
                  value:
                    status: 200
                    data:
                      - id: 0
                        name: 'Medium Dozer '
                        description: Cat C9.3B 215 Net HP @ 50733
                        rego_number: UV0 936
                        active: true
                        modified_by: string
                        modified_by_id: 0
                        modified_time: '2019-08-24T14:15:22Z'
                        year: '2021'
                        make: Cat
                        model: D6
                        serial_number: US09U012345
                        charge_rate: 120
                        number_reading: 1264
                        external_id: 07237c3e-f003-4092-8b2d-180f39fc3d4
                        integration_id: int_123456
                        deleted_at: '2019-08-24T14:15:22Z'
                        deleted_by_id: 0
                        asset_class_id: 5
                        assetClass:
                          id: 5
                          name: Heavy Machinery
                          description: Large construction equipment
                          code: HEAVY-MACH
                        tags:
                          - tag_id: 301
                            name: string
                            description: string
                            color: '#795548'
                        attachments:
                          - attachment_id: 2
                            name: MC-01 Man Cage
                            description: Man Cage for Frannas
                            rego_number: null
                            make: null
                            model: null
                            serial_number: null
                            active: true
                    count: 0
      parameters: []
      security:
        - Assignar Tenant Auth: []
    post:
      summary: Create a new asset
      tags:
        - Assets
      operationId: createAsset
      requestBody:
        $ref: '#/components/requestBodies/CreateUpdateAssetRequest'
      security:
        - Assignar Tenant Auth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/AssetWithTagId'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 1
                      name: 'Medium Dozer '
                      description: Cat C9.3B 215 Net HP @ 50733
                      active: true
                      modified_by: ssmith
                      modified_time: '2019-08-24T14:15:22Z'
                      year: '2021'
                      make: Cat
                      model: D6
                      serial_number: US09U012345
                      charge_rate: 120
                      number_reading: 1264
                      external_id: 07237c3e-f003-4092-8b2d-180f39fc3d4
                      integration_id: int_123456
                      asset_class_id: 5
                      tags:
                        - tag_id: '301'
                      attachments:
                        - attachment_id: 2
                        - attachment_id: 5
  '/assets/{assetId}':
    get:
      summary: Retrieve an existing asset
      tags:
        - Assets
        - Assets
      operationId: getAssetById
      parameters:
        - name: assetId
          required: true
          in: path
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/AssetWithTagPart'
              examples:
                Success:
                  value:
                    status: 200
                    data:
                      id: 0
                      name: 'Medium Dozer '
                      description: Cat C9.3B 215 Net HP @ 50733
                      rego_number: UV0 936
                      active: true
                      modified_by: string
                      modified_by_id: 0
                      modified_time: '2019-08-24T14:15:22Z'
                      year: '2021'
                      make: Cat
                      model: D6
                      serial_number: US09U012345
                      charge_rate: 120
                      number_reading: 1264
                      external_id: 07237c3e-f003-4092-8b2d-180f39fc3d4
                      integration_id: int_123456
                      deleted_at: '2019-08-24T14:15:22Z'
                      deleted_by_id: 0
                      asset_class_id: 5
                      assetClass:
                        id: 5
                        name: Heavy Machinery
                        description: Large construction equipment
                        code: HEAVY-MACH
                      tags:
                        - tag_id: 301
                          name: string
                          description: string
                          color: '#795548'
                      attachments:
                        - attachment_id: 2
                          name: MC-01 Man Cage
                          description: Man Cage for Frannas
                          rego_number: null
                          make: null
                          model: null
                          serial_number: null
                          active: true
      security:
        - Assignar Tenant Auth: []
    put:
      summary: Update an existing asset
      tags:
        - Assets
      operationId: updateAsset
      parameters:
        - in: path
          name: assetId
          required: true
          schema:
            type: integer
      security:
        - Assignar Tenant Auth: []
      requestBody:
        $ref: '#/components/requestBodies/CreateUpdateAssetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                x-examples:
                  example-1:
                    status: 204
              examples:
                Success:
                  value:
                    status: 204
    delete:
      summary: Delete an existing asset
      tags:
        - Assets
      operationId: deleteAsset
      parameters:
        - in: path
          name: assetId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
              examples:
                Succces:
                  value:
                    status: 204
      security:
        - Assignar Tenant Auth: []
    parameters:
      - schema:
          type: integer
          format: int64
        name: assetId
        in: path
        required: true
        description: Asset Identifier
  '/assets/{assetId}/documents':
    get:
      summary: Get a list of documents attached to the asset.
      description: >-
        Returns the documents attached to an asset, each with a signed
        `attachment_url` for downloading the file. Inactive documents are hidden
        by default; pass `active=false` to return those instead. Responds 404 if
        the asset does not exist or has been deleted.
      tags:
        - Assets
      operationId: getAssetDocuments
      parameters:
        - name: assetId
          required: true
          in: path
          schema:
            type: integer
        - name: page
          required: false
          in: query
          schema:
            type: string
        - name: page_size
          required: false
          in: query
          schema:
            type: string
        - name: sort
          required: false
          in: query
          description: 'Sort by any root field, prefixed with `-` to reverse (e.g. `-expiry_date`).'
          schema:
            type: string
        - name: active
          required: false
          in: query
          description: 'Defaults to `true`. Pass `active=false` to return only inactive documents.'
          schema:
            type: boolean
        - name: expiry_date__lte
          required: false
          in: query
          description: 'Return documents expiring on or before this date, e.g. `expiry_date__lte=2025-12-31`.'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  count:
                    type: integer
                    description: The number of asset documents that satisfies the query.
                  data:
                    $ref: '#/components/schemas/AssetDocuments'
        '404':
          description: The asset does not exist or has been deleted.
    post:
      summary: Attach a document to an asset
      description: >-
        Associates an existing document definition with an asset and records the
        uploaded file against that association. Pick a `document_id` from `GET
        /documents`; this endpoint does not create new document definitions.


        Upload the file first with `POST /upload-urls/asset-document` and pass
        the `path` it returns as `attachment`, exactly as returned — including
        its leading slash. A path that has lost its leading slash produces a
        download URL that does not resolve.
      tags:
        - Assets
      operationId: postAssetDocument
      parameters:
        - name: assetId
          required: true
          in: path
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - document_id
              properties:
                document_id:
                  type: integer
                  description: 'The id of the document definition to attach, from `GET /documents`.'
                attachment:
                  type: string
                  description: 'The `path` returned by `POST /upload-urls/asset-document`, used exactly as returned.'
                label:
                  type: string
                comments:
                  type: string
                active:
                  type: boolean
                disabled:
                  type: boolean
                expiry_date:
                  type: string
                  format: date
                expiry_date_alert:
                  type: string
                  format: date
                expiry_number:
                  type: integer
                expiry_number_alert:
                  type: integer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/AssetDocument'
        '400':
          description: >-
            The payload is missing or invalid, or an id was supplied in the path.
            Ids are assigned by the server.
        '404':
          description: The asset does not exist or has been deleted.
  '/assets/{assetId}/documents/{assetDocumentId}':
    get:
      summary: Retrieve a document attached to the asset.
      description: >-
        A document is scoped to its asset: requesting it under a different
        `assetId` responds 404. Inactive documents are not retrievable by id,
        matching their exclusion from the list.
      tags:
        - Assets
      operationId: getAssetDocument
      parameters:
        - name: assetId
          required: true
          in: path
          schema:
            type: integer
        - name: assetDocumentId
          required: true
          in: path
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/AssetDocument'
        '404':
          description: >-
            No such document on this asset, the document is inactive, or the
            asset has been deleted.
    put:
      summary: Update a document attached to the asset.
      description: >-
        Updates the supplied fields on the association. To replace the file,
        upload a new one with `POST /upload-urls/asset-document` and pass the
        returned `path` as `attachment`.
      tags:
        - Assets
      operationId: putAssetDocument
      parameters:
        - name: assetId
          required: true
          in: path
          schema:
            type: integer
        - name: assetDocumentId
          required: true
          in: path
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document_id:
                  type: integer
                attachment:
                  type: string
                label:
                  type: string
                comments:
                  type: string
                active:
                  type: boolean
                disabled:
                  type: boolean
                expiry_date:
                  type: string
                  format: date
                expiry_date_alert:
                  type: string
                  format: date
                expiry_number:
                  type: integer
                expiry_number_alert:
                  type: integer
      responses:
        '204':
          description: Success
        '404':
          description: >-
            No such document on this asset, or the asset has been deleted.
    delete:
      summary: Remove a document attached to the asset.
      tags:
        - Assets
      operationId: deleteAssetDocument
      parameters:
        - name: assetId
          required: true
          in: path
          schema:
            type: integer
        - name: assetDocumentId
          required: true
          in: path
          schema:
            type: integer
      responses:
        '204':
          description: Success
        '404':
          description: >-
            No such document on this asset, or the asset has been deleted.
  /upload-urls/asset-document:
    post:
      summary: Calculate an S3 signed URL for uploading a file for an Asset Document.
      description: |
        We store file uploads to Amazon S3. Use this endpoint to receive a secure, signed `url` to upload a file to and
        the `path` to that file that you can use in the payload for creating the Asset Document.
      tags:
        - Assets
      operationId: postAssetDocumentUploadUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - filename
              properties:
                filename:
                  type: string
                  description: The filename of the file you wish to upload.
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: url
                    description: 'To upload the file, use PUT with this URL.'
                  path:
                    type: string
                    description: >-
                      Use this value as `attachment` in the payload when creating an
                      Asset Document. Pass it through exactly as returned, including
                      the leading slash.
  /clients/:
    get:
      summary: List all existing clients
      tags:
        - Clients
        - Clients
      operationId: getClients
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Clients'
    post:
      summary: Create a new client
      tags:
        - Clients
      operationId: postClient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/Client'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 975
                      name: Acme Construction
                      company_name: Acme Construction
                      active: true
                      modified_by: ssmith
                      modified_time: '2026-08-25T02:14:07.000Z'
  '/clients/{clientId}':
    get:
      summary: Retrieve an existing client
      tags:
        - Clients
        - Clients
      operationId: getClient
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Client'
      parameters:
        - name: clientId
          required: true
          in: path
          schema:
            type: string
        - in: body
          name: client
          description: The client to get
          schema:
            type: object
            properties:
              modified_by:
                type: string
              modified_time:
                type: string
    put:
      summary: Update an existing client
      tags:
        - Clients
      operationId: updateClient
      responses:
        '204':
          description: Success
      parameters:
        - name: clientId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
    delete:
      summary: Delete an existing client
      tags:
        - Clients
      operationId: deleteClient
      parameters:
        - name: clientId
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Success
  '/clients/{clientId}/inductions':
    get:
      summary: List Client Inductions
      tags:
        - Clients
        - Clients
      operationId: getClientInductions
      responses:
        default:
          description: no response description was provided for this operation
      parameters:
        - name: clientId
          required: true
          in: path
          schema:
            type: string
            default: '1'
  '/clients/{clientId}/contacts':
    get:
      summary: List Client Contacts
      tags:
        - Clients
        - Clients
      operationId: getClientContacts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/ClientContactsResponse'
      parameters:
        - name: clientId
          required: true
          in: path
          schema:
            type: string
            default: '1'
    post:
      summary: Add a contact to a Client
      tags:
        - Clients
      operationId: postClientContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientContactsPayload'
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/ClientContactCreated'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 5173
                      client_id: 82
                      contact_id: 2
                      is_docket_contact: true
  '/clients/{clientId}/contacts/{clientContactId}':
    delete:
      summary: Removing a contact from a client
      tags:
        - Clients
        - Clients
      operationId: deleteClientContact
      parameters:
        - name: clientId
          required: true
          in: path
          schema:
            type: string
            default: '1'
        - name: clientContactId
          required: true
          in: path
          schema:
            type: string
            default: '1'
      responses:
        '204':
          description: Success
  '/clients/{clientId}/task-groups':
    get:
      summary: List task groups assigned to a client
      tags:
        - Clients
      operationId: getClientTaskGroups
      security:
        - oauth_2_auth: []
      parameters:
        - name: clientId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        group_id:
                          type: integer
                        client_id:
                          type: integer
    post:
      summary: Assign a task group to a client
      tags:
        - Clients
      operationId: createClientTaskGroup
      security:
        - oauth_2_auth: []
      parameters:
        - name: clientId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - group_id
              properties:
                group_id:
                  type: integer
                  description: The id of the task group to assign to the client.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      group_id:
                        type: integer
                      client_id:
                        type: integer
  '/clients/{clientId}/task-groups/{id}':
    delete:
      summary: Remove a task group from a client
      description: >-
        `id` is the association id returned when the task group was assigned
        (the `id` of the client task-group record), not the task group's own id.
      tags:
        - Clients
      operationId: deleteClientTaskGroup
      security:
        - oauth_2_auth: []
      parameters:
        - name: clientId
          required: true
          in: path
          schema:
            type: string
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: Success
  /contacts/:
    get:
      summary: List all existing contacts
      tags:
        - Contacts
        - Contacts
      operationId: getContacts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Contacts'
    post:
      summary: Create a new contact
      tags:
        - Contacts
      operationId: postContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/Contact'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 782
                      first_name: Jane
                      last_name: Doe
                      email: jane.doe@example.com
                Success with tags:
                  value:
                    status: 201
                    data:
                      id: 783
                      first_name: Jane
                      last_name: Doe
                      email: jane.doe@example.com
                      tags:
                        - tag_id: 1
  '/contacts/{contactId}':
    get:
      summary: Retrieve an existing contact
      tags:
        - Contacts
        - Contacts
      operationId: getContact
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Contact'
    put:
      summary: Update an existing contact
      tags:
        - Contacts
      operationId: updateContact
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '204':
          description: Success
    delete:
      summary: Delete an existing contact
      tags:
        - Contacts
      operationId: deleteContact
      parameters:
        - in: path
          name: contactId
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Success
  /digital-dockets/:
    get:
      summary: Digital Dockets
      operationId: getDigitalDocketList
      tags:
        - DigitalDockets
        - DigitalDockets
      description: List all Digital Dockets
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DigitalDockets'
  '/digital-dockets/{docketId}':
    get:
      summary: Get a Digital Docket by ID
      tags:
        - DigitalDockets
        - DigitalDockets
      description: Return a single digital docket
      operationId: getDigitalDocketById
      parameters:
        - in: path
          name: docketId
          required: true
          schema:
            type: integer
            default: 146
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/DigitalDocket'
  /documents:
    get:
      summary: List the document catalog
      description: >-
        Documents are the tenant's document *definitions* — named requirements
        such as "Vehicle Registration" or "Safety Inspection Certificate", each
        tied to a document type. They are not files in themselves.


        Use this endpoint to discover which `document_id` to attach when creating
        an asset document (`POST /assets/{assetId}/documents`) or a project
        document (`POST /projects/{projectId}/documents`).


        Read-only: POST, PUT and DELETE all respond 405.
      tags:
        - Documents
      operationId: getDocuments
      parameters:
        - name: page
          required: false
          in: query
          schema:
            type: string
        - name: page_size
          required: false
          in: query
          schema:
            type: string
        - name: sort
          required: false
          in: query
          description: 'Sort by any root field, prefixed with `-` to reverse (e.g. `-name`).'
          schema:
            type: string
        - name: name
          required: false
          in: query
          description: 'Filter by name. Operators apply, e.g. `name__starts_with=Vehicle`.'
          schema:
            type: string
        - name: type
          required: false
          in: query
          description: Filter by document type id.
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  count:
                    type: integer
                    description: The number of documents that satisfies the query.
                  data:
                    $ref: '#/components/schemas/Documents'
  '/documents/{documentId}':
    get:
      summary: Retrieve a single document definition
      tags:
        - Documents
      operationId: getDocument
      parameters:
        - name: documentId
          required: true
          in: path
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Document'
        '404':
          description: Not Found
  /form-results:
    get:
      summary: List all existing form results
      description: >-
        Each item omits `result_data` so list responses stay lightweight. Call
        `GET /form-results/{formResultId}` for the full payload including field
        values in `result_data`.
      tags:
        - Form Results
        - Form Results
      operationId: getFormResults
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/FormResults'
                  count:
                    type: integer
                    description: the number of form results that satisfies the query.
  '/form-results/{formResultId}':
    get:
      summary: Retrieve an existing form result
      tags:
        - Form Results
        - Form Results
      operationId: getFormResult
      parameters:
        - in: path
          name: formResultId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/FormResult'
  /charge-codes:
    get:
      summary: List all existing charge-codes
      tags:
        - Invoices
        - Invoices
      operationId: getChargeCodes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/ChargeCodes'
    post:
      summary: Create a new charge code
      tags:
        - Invoices
      operationId: newChargeCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeCodeRequest'
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/ChargeCodeResponse'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 117
                      code: TRV
                      label: Travel
                      modified_by: 40
  '/charge-codes/{chargeCodeId}':
    get:
      summary: Retrieve an existing charge code
      tags:
        - Invoices
        - Invoices
      operationId: getChargeCode
      parameters:
        - in: path
          name: chargeCodeId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/ChargeCodeResponse'
    put:
      summary: Update an existing charge code
      tags:
        - Invoices
      operationId: updateChargeCode
      parameters:
        - in: path
          name: chargeCodeId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeCodeRequest'
      responses:
        '204':
          description: Success
    delete:
      summary: Delete a existing charge code
      tags:
        - Invoices
      operationId: deleteChargeCode
      parameters:
        - in: path
          name: chargeCodeId
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Success
  /charge-items:
    get:
      summary: List all existing charge items
      tags:
        - Invoices
        - Invoices
      operationId: getChargeItems
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/ChargeItems'
    post:
      summary: Create a new charge item
      tags:
        - Invoices
      operationId: newChargeItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeItem'
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/ChargeItem'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 166
                      name: Materials
                      rate: '12.50'
  '/charge-items/{chargeItemId}':
    get:
      summary: Retrieve an existing charge item
      tags:
        - Invoices
        - Invoices
      operationId: getChargeItem
      parameters:
        - in: path
          name: chargeItemId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/ChargeItem'
    put:
      summary: Update an existing charge item
      tags:
        - Invoices
      operationId: updateChargeItem
      parameters:
        - in: path
          name: chargeItemId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeItem'
      responses:
        '204':
          description: Success
    delete:
      summary: Delete a existing charge item
      tags:
        - Invoices
      operationId: deleteChargeItem
      parameters:
        - in: path
          name: chargeItemId
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Success
  /pay-codes:
    get:
      summary: List all existing pay codes
      tags:
        - Invoices
        - Invoices
      operationId: getPayCodes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/PayCodes'
    post:
      summary: Create a new pay code
      tags:
        - Invoices
      operationId: newPayCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayCode'
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/PayCode'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 137
                      code: ORD
                      label: Ordinary
                      created_by_id: 40
                      modified_by_id: 40
                      created_at: '2026-08-25T02:14:07.000Z'
                      modified_at: '2026-08-25T02:14:07.000Z'
  '/pay-codes/{payCodeId}':
    get:
      summary: Retrieve an existing pay code
      tags:
        - Invoices
        - Invoices
      operationId: getPayCode
      parameters:
        - in: path
          name: payCodeId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/PayCode'
    put:
      summary: Update an existing pay code
      tags:
        - Invoices
      operationId: updatePayCode
      parameters:
        - in: path
          name: payCodeId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayCode'
      responses:
        '204':
          description: Success
    delete:
      summary: Delete a existing pay code
      tags:
        - Invoices
      operationId: deletePayCode
      parameters:
        - in: path
          name: payCodeId
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Success
  '/leave-requests':
    post:
      summary: Create new leave requests for multiple users
      description: Submit new leave requests for multiple users of user-type "Field Worker"
      tags:
        - Leave Requests
        - Leave Requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_ids
                - leave_type_id
                - leave_dates
              properties:
                user_ids:
                  type: array
                  items:
                    type: integer
                    format: int64
                  description: Array of user IDs to create leave requests for
                  minItems: 1
                leave_type_id:
                  type: integer
                  format: int64
                  description: ID of the leave type
                leave_dates:
                  type: array
                  items:
                    type: object
                    required:
                      - start_at
                      - end_at
                    properties:
                      start_at:
                        type: string
                        format: date-time
                        description: Start date and time (YYYY-MM-DDTHH:mm format)
                        example: "2025-07-01T08:00"
                      end_at:
                        type: string
                        format: date-time
                        description: End date and time (YYYY-MM-DDTHH:mm format)
                        example: "2025-07-01T12:00"
                  description: Array of leave date ranges
                  minItems: 1
                description:
                  type: string
                  description: Optional description for the leave request
                create_as_approved:
                  type: boolean
                  description: Whether to create the leave requests as approved
                  default: false
                create_timesheets:
                  type: boolean
                  description: Whether to create timesheets for the approved leave requests
                  default: false
                timesheet_timezone:
                  type: string
                  description: The IANA timezone identifier (e.g., America/Chicago, Europe/London, Australia/Sydney)
                  default: UTC
                  example: "America/Chicago"
      responses:
        '201':
          description: Leave requests created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeaveRequest'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    get:
      summary: List all leave requests
      tags:
        - Leave Requests
      operationId: getLeaveRequests
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeaveRequest'
                  count:
                    type: integer
                    description: Total number of records
                    example: 1
  '/leave-requests/{leaveRequestId}':
    get:
      summary: Leave Request by ID
      tags:
        - Leave Requests
        - Leave Requests
      operationId: getLeaveRequestById
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the leave request to retrieve
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                    example: 200
                  data:
                    $ref: '#/components/schemas/LeaveRequest'
    put:
      summary: Update an existing leave request
      description: Modify an existing leave request in pending status
      tags:
        - Leave Requests
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the leave request to update
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                leave_type_id:
                  type: integer
                  format: int64
                  description: ID of the leave type
                leave_dates:
                  type: array
                  items:
                    type: object
                    required:
                      - start_at
                      - end_at
                    properties:
                      start_at:
                        type: string
                        format: date-time
                        description: Start date and time (YYYY-MM-DDTHH:mm format)
                        example: "2025-07-01T08:00"
                      end_at:
                        type: string
                        format: date-time
                        description: End date and time (YYYY-MM-DDTHH:mm format)
                        example: "2025-07-01T12:00"
                  description: Array of leave date ranges
                  minItems: 1
                description:
                  type: string
                  description: Updated description for the leave request
      responses:
        '200':
          description: Success
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Leave request not found
  '/leave-requests/{leaveRequestId}/approve':
    put:
      summary: Approve a leave request
      description: Approve a leave request
      tags:
        - Leave Requests
        - Leave Requests
      parameters:
        - name: leaveRequestId
          in: path
          required: true
          description: ID of the leave request to approve
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                create_timesheets:
                  type: boolean
                  description: Whether to create timesheets for the approved leave requests
                  default: false
                timesheet_timezone:
                  type: string
                  description: The IANA timezone identifier (e.g., America/Chicago, Europe/London, Australia/Sydney)
                  default: UTC
                  example: "America/Chicago"
                comments:
                  type: string
                  description: Comments for the approved leave request
      responses:
        '200':
          description: Success
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Leave request not found
  '/leave-requests/{leaveRequestId}/decline':
    put:
      summary: Decline a leave request
      description: Decline a leave request
      tags:
        - Leave Requests
        - Leave Requests
      parameters:
        - name: leaveRequestId
          in: path
          required: true
          description: ID of the leave request to decline
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comments:
                  type: string
                  description: Comments for the declined leave request
      responses:
        '200':
          description: Success
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Leave request not found
  '/leave-requests/{leaveRequestId}/cancel':
      put:
        summary: Cancel a leave request
        description: Cancel a leave request
        tags:
          - Leave Requests
          - Leave Requests
        parameters:
          - name: leaveRequestId
            in: path
            required: true
            description: ID of the leave request to cancel
            schema:
              type: integer
              format: int64
        responses:
          '200':
            description: Success
          '400':
            description: Invalid input
          '401':
            description: Unauthorized
          '403':
            description: Forbidden
          '404':
            description: Leave request not found
  '/leave-types':
    get:
      summary: List all leave types
      tags:
        - Leave Types
        - Leave Types
      operationId: getLeaveTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                    example: 200
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeaveType'
                  count:
                    type: integer
                    description: Total number of records
                    example: 1
  '/leave-types/{leaveTypeId}':
    get:
      summary: Leave Type by ID
      tags:
        - Leave Types
        - Leave Types
      operationId: getLeaveTypeById
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                    example: 200
                  data:
                    $ref: '#/components/schemas/LeaveType'



  /orders:
    get:
      summary: List all existing orders
      tags:
        - Orders
        - Orders
      operationId: getOrders
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Orders'
    post:
      summary: Create a new order
      tags:
        - Orders
      operationId: newOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/Order'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 4263
                      active: true
                      job_number: JOB123
                      client_id: 975
                      order_owner: 40
                      start_date: '2026-09-01'
                      end_date: '2026-09-02'
                      location: North Site
                      start_time: '07:00'
                      shift_duration: '08:00'
                      status_id: 1
                      type_id: 1
                      date_created: '2026-08-25T02:14:07.000Z'
                      modified_by: ssmith
                      modified_time: '2026-08-25T02:14:07.000Z'
                Success with tags:
                  value:
                    status: 201
                    data:
                      id: 4264
                      active: true
                      job_number: JOB123
                      client_id: 975
                      order_owner: 40
                      start_date: '2026-09-01'
                      end_date: '2026-09-02'
                      location: North Site
                      start_time: '07:00'
                      shift_duration: '08:00'
                      status_id: 1
                      type_id: 1
                      date_created: '2026-08-25T02:14:07.000Z'
                      modified_by: ssmith
                      modified_time: '2026-08-25T02:14:07.000Z'
                      tags:
                        - tag_id: 1
                        - tag_id: 2
  '/orders/{orderId}':
    get:
      summary: Retrieve an existing order
      tags:
        - Orders
        - Orders
      operationId: getOrder
      parameters:
        - name: page_size
          required: false
          in: query
          schema:
            type: string
        - name: page
          required: false
          in: query
          schema:
            type: string
        - name: orderId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/Order'
    put:
      summary: Update an existing order
      tags:
        - Orders
      operationId: updateOrder
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '204':
          description: Success
    delete:
      summary: Delete an existing order
      tags:
        - Orders
      operationId: deleteOrder
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Success
  '/orders/{orderId}/attachments':
    get:
      summary: Get a list of attachments attached to a given order.
      tags:
        - Orders
        - Orders
      operationId: getOrderAttachments
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  count:
                    type: integer
                    description: The number of order attachments that satisfies the query.
                  data:
                    $ref: '#/components/schemas/OrderAttachment'
    post:
      summary: Attach a file to an order
      tags:
        - Orders
      operationId: postOrderAttachment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attachment:
                  type: string
                  required: true
                name:
                  type: string
                size:
                  type: string
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
  '/orders/{orderId}/attachments/{orderAttachmentId}':
    delete:
      summary: Remove an attachment from an order.
      tags:
        - Orders
        - Orders
      operationId: deleteOrderAttachments
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
        - name: orderAttachmentId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
  '/orders/{orderId}/contacts':
    get:
      summary: List Order Contacts
      tags:
        - Orders
        - Orders
      operationId: getOrderContacts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/OrderContactsResponse'
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
            default: '1'
    post:
      summary: Add a contact to an order
      tags:
        - Orders
      operationId: postOrderContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderContactsPayload'
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/OrderContactCreated'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      id: 1903
                      order_id: 31
                      contact_id: 2
  '/orders/{orderId}/contacts/{orderContactId}':
    delete:
      summary: Removing a contact from an order
      tags:
        - Orders
        - Orders
      operationId: deleteOrderContact
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
            default: '1'
        - name: orderContactId
          required: true
          in: path
          schema:
            type: string
            default: '1'
      responses:
        '204':
          description: Success
  /order-types:
    get:
      summary: List all existing orders types
      tags:
        - Orders
        - Orders
      operationId: getOrderTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/OrderTypes'
  '/order-types/{orderTypeId}':
    get:
      summary: Retrieve an existing order type
      tags:
        - Orders
        - Orders
      operationId: getOrderType
      parameters:
        - name: orderTypeId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/OrderType'
  /order-statuses:
    get:
      summary: List all existing orders statuses
      tags:
        - Orders
        - Orders
      operationId: getOrderStatuses
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/OrderStatuses'
  '/order-statuses/{orderStatusId}':
    get:
      summary: Retrieve an existing order status
      tags:
        - Orders
        - Orders
      operationId: getOrderStatus
      parameters:
        - name: orderStatusId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/OrderStatus'
  '/orders/{orderId}/charge-items':
    get:
      summary: List all existing order charge items
      tags:
        - Orders
        - Orders
      operationId: getOrderChargeItems
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/OrderTaskChargeItems'
  '/orders/{orderId}/tasks':
    get:
      summary: List all tasks related to an order
      tags:
        - Orders
        - Orders
      operationId: getOrderTasks
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/OrderTasks'
    post:
      summary: Add a task to an order
      description: 'Note: This endpoint creates one order task for each day for the entire duration of the order.'
      tags:
        - Orders
      operationId: newOrderTask
      responses:
        '201':
          description: >-
            Created. The created record is returned in `data`. **The fields present depend on
            the payload supplied** — every field you sent, plus the generated `id`, any column
            defaults, and audit values such as `modified_by`. A field you did not send is absent
            rather than null, and related objects are not included. The example below shows one
            such request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  data:
                    $ref: '#/components/schemas/OrderTasksCreated'
              examples:
                Success:
                  value:
                    status: 201
                    data:
                      - id: 594993
                        order_id: 4263
                        task_id: 1
                        task_quantity: 2
                        shift_date: '2026-09-01T00:00:00.000Z'
                        start_time: '07:00'
                        end_time: '15:00'
                        description: ''
                        shift_index: 1
                        order_task_id: null
                      - id: 594994
                        order_id: 4263
                        task_id: 1
                        task_quantity: 2
                        shift_date: '2026-09-02T00:00:00.000Z'
                        start_time: '07:00'
                        end_time: '15:00'
                        description: ''
                        shift_index: 1
                        order_task_id: null
      requestBody:
        $ref: '#/components/requestBodies/CreateOrderTask'
    parameters:
      - schema:
          type: integer
        name: orderId
        in: path
        required: true
        description: Order Identifier
  '/orders/{orderId}/tasks/{ordertaskId}':
    get:
      summary: Retrieve an existing order task
      tags:
        - Orders
        - Orders
      operationId: getOrderTask
      parameters:
        - name: orderId
          required: true
          in: path
          schema:
            type: string
        - name: ordertaskId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/OrderTask'
  '/orders/{orderId}/tasks/{ordertaskId}/shift-dates':
    get:
      summary: List all existing order task shift dates
      tags:
        - Orders
        - Orders
      operationId: getOrderTaskShiftDates
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: integer
        - in: path
          name: ordertaskId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: The response status
                  data:
                    $ref: '#/components/schemas/OrderTaskShiftDates'
  '/orders/{orderId}/tasks/{ordertaskId}/shift-dates/{ordertaskShiftDateId}':
    get:
      summary: Retrieve an existing order task shift date
      tags:
[...]
